<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <h1>NOVO REGISTRO</h1>
    </div>
    <div>
        <form action="/registro" method="post">
            <label for="">Disciplina</label>
            <input type="text" name="disciplina" placeholder="Digite o nome da disciplina:"> <br><br>
            <label for="">Nota 1:</label>
            <input type="number" name="nota1" placeholder="Digite a nota 1:"> <br><br>
            <label for="">Nota 2:</label>
            <input type="number" name="nota2" placeholder="Digite a nota 2:"> <br><br>
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>