<% title = "Operações" %>

<div>
    <h1>Página de operações</h1>
    <h2>Operações feitas até o momento:</h2>
    <table>
        <tr>
            <th>Data</th>
            <th>Código do ativo</th>
            <th>Quantidade</th>
            <th>Valor unitário</th>
            <th>Valor bruto</th>
            <th>Taxas B3</th>
            <th>Valor líquido</th>
        </tr>
    </table>
    <br><br><br>
</div>
