<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro treinos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <h1>Bem vindo a página inicial</h1>
    </div>

    <div>
        <p>Escolha alguma das aplicações do nosso sistema:</p>
        <ul>
            <li><a href="/registro">Formulário de registro de treinos</a></li>
        </ul>
    </div>
</body>
</html>