<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro treinos</title>
</head>
<body>
    <div>
        <h1>Registro de treinos</h1>
        <ul><li>Prencha as informações dos seus treinos no formulário abaixo</li></ul>
    </div>
    
    <div>
        <form action="/registro" method="post">
            <label for=""></label>
        </form>
    </div>
    
</body>
</html>